# -------------------------
# Python bytecode
# -------------------------
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# -------------------------
# Numba cache
# -------------------------
*.nbc
*.nbi

# -------------------------
# Build / packaging
# -------------------------
build/
dist/
*.egg-info/
pip-wheel-metadata/

# -------------------------
# MkDocs, pytest build output
# -------------------------
site/
htmlcov/
.coverage

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# Virtual environments
# -------------------------
venv/
env/
.venv/

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db